REDSHIFT_HOST=
REDSHIFT_PORT=5439
REDSHIFT_DBNAME=
REDSHIFT_USER=
REDSHIFT_PASSWORD=

MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DBNAME=
MYSQL_USER=
MYSQL_PASSWORD=

MONGO_HOST=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_COLLECTION=